@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer components {
    /* Sidebar */
    .sidebar_item.active {
        @apply bg-secondary text-white
        /*background-color: theme('colors.white');*/
    }

    .sidebar_item {
        @apply bg-primary text-font flex flex-row
        /*background-color: theme('colors.white');*/
    }

    /* Page */
    .page_title {
        @apply text-2xl font-medium
    }
}